{
  "$schema": "https://json.schemastore.org/prettierrc.json",
  "arrowParens": "always",
  "bracketSameLine": true,
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": ["*.css", "*.scss"],
      "options": { "printWidth": 240 }
    }
  ],
  "plugins": ["prettier-plugin-tailwindcss"],
  "quoteProps": "consistent",
  "singleQuote": true,
  "tailwindFunctions": ["cn", "cva"],
  "trailingComma": "all"
}
