.hide-list {
  display: none;
}

#show_header_modal {
  cursor: pointer;
}
.header_modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.header_modal_content {
  position: absolute;
  right: 2rem;

  top: 27rem;
  width: 17.68rem;

  background: #ffffff;
  border-radius: 1rem;
  box-shadow: 0px 32px 64px -12px rgba(0, 0, 0, 0.4);
}
@media (min-width: 791px) and (max-width: 800px) {
  .header_modal_content {
    top: 41rem;
  }
}

@media (min-width: 765px) and (max-width: 790px) {
  .header_modal_content {
    top: 33rem;
  }
}

@media (min-width: 801px) and (max-width: 850px) {
  .header_modal_content {
    top: 38rem;
  }
}
.switch-content hr {
  margin-top: 0;
  margin-bottom: 0;
}
.switch-content {
  position: absolute;
  right: 1.5rem;
  top: 28rem;
  width: 17.68rem;
  height: 7.5rem;
  background: #ffffff;
  border-radius: 1rem;
  box-shadow: 0px 32px 64px -12px rgba(0, 0, 0, 0.4);
}

.switch-content .switch_header {
  display: flex;

  justify-content: space-between;
  padding: 10px 12px;
  align-items: center;
}

.switch-content .close-switch {
  position: relative;
  cursor: pointer !important;
}
#close {
  cursor: pointer;
}

.switch-content .switch_header .switch-left {
  display: flex;
  gap: 0.5rem;
}

.switch-content .switch-footer {
  padding: 1rem;
}
.switch-content .switch-footer button {
  width: 15.68rem;
  height: 2.5rem;
  background: #8837e9;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.account-modal {
  height: 19.5rem;
}

.switch-content .switch-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}
.switch-content .switch-body img {
  width: 2.25rem;
  height: 2.25rem;
}
.switch-content .switch-body .switch-left {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.switch-content .switch-body .switch-left .avater-desc {
  display: flex;
  flex-direction: column;
}

.switch-content .switch-body .switch-left h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #344054;
}

.switch-content .switch-body .switch-left span {
  font-size: 0.75rem;
  color: #878f9d;
}

.switch-content .switch-body .switch-counter {
  background: #ff6363;
  color: #ffffff;
  width: 2.25rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.switch-content .switch-body .switch-counter-wide {
  width: 3rem;
}
@media (min-width: 300px) and (max-width: 325px) {
  .header_modal .header_list {
    display: flex;
    align-items: center;
    height: 2rem !important;
    /* justify-content: center; */
    font-size: 0.75rem !important;
    font-weight: 500;
    padding: 0 0.5rem !important;
    cursor: pointer;
  }

  .header_modal img {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }
}
@media (max-width: 600px) {
  .header_modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0 !important;
    top: auto;
    left: 0;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .header_modal.hide-list {
    display: none !important;
  }
  .header_modal_content {
    width: 100%;

    z-index: 10;
    position: static;
  }
  .switch-content {
    width: 100%;

    position: static;
  }
  .switch-content .switch-footer button {
    width: 100%;
  }
}

/* @media (min-width: 300px) and (max-width: 320px) {
  .header_modal {
    width: 100%;
    top: 0;
    right: 0;
  }
} */
.header_modal img {
  width: 1.75rem;
  height: 1.75rem;
}
.header_modal hr {
  margin: 0;
}
.header_modal .head {
  padding: 0.5rem;
  margin: 0.5rem;
  background: #f6f6f6;
  border-radius: 0.4rem;
  height: 6rem;
}
.header_modal .header_list a {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.4rem;
}
.header_modal .header_list {
  display: flex;
  align-items: center;
  height: 3rem;
  /* justify-content: center; */
  font-size: 1rem;
  font-weight: 500;
  padding: 0 0.75rem;
  cursor: pointer;
}

.header_modal .holder_name {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  align-items: center;
}

.header_modal .holder_assest {
  display: flex;
  align-items: center;
  height: 2.5rem;
  gap: 0.75rem;
}

.header_modal .holder_assest span {
  color: #ffc838;
}
.notification-header {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.notification-nav {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.notification-nav .navs {
  border-radius: 25rem;
  border: 1px solid #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  cursor: pointer;
}

.notification-nav .all {
  width: 5.25rem;
}

.notification-nav .notification {
  width: 10.125rem;
}

.notification-nav .requests {
  width: 8.5rem;
}

.notification-nav .navs.checked {
  background: #000000;
  color: #ffffff;
}

.notification_main {
  width: 70%;
  min-height: 100vh;
  border-radius: 1rem;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  border: 1px solid #f1f1f1;
  z-index: 9999px;
}

.notification_main .noti-search {
  width: 22.625rem;
  height: 2.5rem;
  background: #f8f8f8;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  border-radius: 0.5rem;
}

.notification_main .noti-search input {
  background: #f8f8f8;
}

.notification_main .notification-list img {
  width: 3.375rem;
  height: 3.375rem;
}

@media (max-width: 550px) {
  .notification_main .notification-list img {
    width: 2.56rem;
    height: 2.56rem;
  }

  .notification-list .list .right-img {
    display: none;
  }

  .notification-list .right-element {
    display: none;
  }

  .notification-list {
    padding-bottom: 5rem;
    overflow-y: scroll;
  }
}

.Ad {
  cursor: pointer;
}

.notification-list .list {
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}
.notification-list .list .left-content {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.notification-list .list .left-content .app_notification_m_content {
  overflow: hidden;
}

@media (min-width: 300px) and (max-width: 325px) {
  .notification-list .list .left-content .app_notification_m_content {
    width: 10rem;
  }
}
.notification-list .list .left-content .notification_follow_back {
  width: fit-content;
}
.notification-list .dot__separator {
  display: inline-block;
  vertical-align: middle;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 9999px;
  background: #6b728080;
  margin: 0 0.5rem;
}

.notification-list .send__time {
  color: #9ca3af;
}
.notification-list li.checked {
  background: rgba(28, 100, 242, 0.08);
}

.notification-list .wide-img img {
  width: 5.5rem;
}

#Notification {
  display: flex;
  gap: 1.5rem;
}
#Notification .advertisment {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 500px) {
  #Notification .advertisment {
    display: none;
  }

  #Notification .notification-list li.notification_message {
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
  }
}

@media (min-width: 300px) and (max-width: 500px) {
  .notification-header {
    padding: 0 1.5rem !important;
    gap: 2px;
  }
}

@media (min-width: 501px) and (max-width: 770px) {
  .advertise-one .ad-description button {
    width: 5rem !important;
  }
}

@media (min-width: 771px) and (max-width: 850px) {
  .advertise-one .ad-description button {
    width: 7rem !important;
  }
}
@media (max-width: 850px) {
  #Notification {
    display: flex;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
  }
  .notification_main {
    width: 100%;
  }
  #Notification .advertisment {
    width: 100%;
    padding-right: 2rem;
  }

  #notification-page.content_area main {
    display: block;
    padding: 0;
  }

  .notification-header {
    padding: 0.25rem 1.5rem;
  }

  #Notification .advertise-two {
    height: 10rem !important;
  }
}

#Notification .advertise-one {
  position: relative;
  border: 1px solid #eaecf0;
  height: 14rem;
  overflow: hidden;
  border-radius: 1rem;
}
#Notification .advertise-two {
  height: 14rem;
}
#Notification .advertise-two img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: fill;
  /* object-fit: contain; */
}
.advertise-one .ad-background img {
  width: 100%;
  height: 4.76rem;
}
.advertise-one .ad-img img {
  width: 5.75rem;
  height: 5.75rem;
}
.advertise-one .ad-text {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  font-size: 0.875rem;
  padding: 0.25rem;
}
.advertise-one .ad-img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.advertise-one .ad-description {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
}

.advertise-one .ad-description span {
  font-size: 1.25rem;
  font-weight: 600;
}

.advertise-one .ad-description button {
  width: 8rem;
  height: 2.5rem;
  border: 1px solid #f1f1f1;
  border-radius: 0.75rem;
  margin: 0 5px;
}

.advertise-one .ad-description button.ad-follow {
  background: #1c64f2;
  color: #ffffff;
}

.advertise-two {
  position: relative;
}

.advertise-two .ad-text {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  font-size: 0.875rem;
  padding: 0.25rem;
}
.advertisement-description hr {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5rem;
}
.advertisement-description {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.advertisement-description img {
  width: 2rem;
  height: 2rem;
}

.advertisement-description .ad-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advertisement-description .ad-content {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.advertisement-description .ad-content p {
  font-size: 0.875rem;
  font-weight: 500;
}

.advertisement-description .ad-content span {
  font-size: 0.75rem;
}

.list .confirm-following-group button img {
  width: 1.7rem;
  height: 1.7rem;
}

.list .live-img img {
  width: 3.5rem;
  height: 4rem;
}
/* Ad modal */

#ad-modal hr {
  padding: 0;
  margin: 0;
}

#ad-modal .ad-modal-content {
  width: 20.68rem;
  height: 14rem;
  background: #ffffff;
  border-radius: 1rem;
}

.ad-modal-content .ad-header {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ad-modal-content .ad-header .close-ad {
  background: #f4f4f4;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.ad-modal-content .ad-header .close-ad img {
  width: 1.5rem;
  height: 1.5rem;
}

.ad-modal-content .ad-header span {
  font-size: 1rem;
  font-weight: 600;
}

.ad-modal-content .ad-bodys {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
}
.ad-modal-content .ad-bodys hr {
  margin-top: 0.5rem !important;
  margin-bottom: 1rem !important;
  margin-left: 2.5rem !important;
}

.ad-modal-content .ad-bodys img {
  width: 2rem;
  height: 2rem;
}

.ad-modal-content .ad-bodys span {
  font-size: 0.75rem;
  font-weight: 400;
  color: #475467;
}

.ad-modal-content .ad-bodys .ad-body {
  display: flex;
  justify-content: space-between;
}

.ad-modal-content .ad-bodys .ad-body .ad-content {
  display: flex;
  gap: 0.5rem;
}

/* Why am I seeing this ad modal  */
.ad-body,
.close-ad {
  cursor: pointer;
}
#Seeing hr {
  margin: 0;
  padding: 0;
}
#Seeing .why-modal-content {
  width: 20.68rem;
  height: 19rem;
  background: #ffffff;
  border-radius: 1rem;
}

.why-modal-content .ad-header {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.why-modal-content .ad-header .close-ad {
  background: #f4f4f4;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.why-modal-content .ad-header .close-ad img {
  width: 1.5rem;
  height: 1.5rem;
}

.why-modal-content .ad-header span {
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
}

.why-modal-content .ad-body {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  color: #475467;
  font-size: 0.812rem;
  font-weight: 500;
}

.why-modal-content .ad-body .purple-text {
  color: #8837e9;
}

.ad-footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.ad-footer span {
  color: #475467;
  font-size: 0.812rem;
  font-weight: 500;
}

.ad-footer button {
  width: 3.125rem;
  height: 2.25rem;
  border: #d0d5dd 1px solid;
  border-radius: 0.5rem;
}

/* hide or report */
#hide-report-modal hr {
  margin: 0;
  padding: 0;
}
#hide-report-modal .hide-modal-content {
  background-color: #ffffff;
  width: 20.687rem;
  border-radius: 1rem;
}

.report-content {
  background: #ffffff;
  width: 44.81rem;
  height: 24.31rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
}
.report-content .ad-header {
  padding: 0;
}

.report-content .ad-header span {
  font-size: 2rem;
  font-weight: 700;
}
.report-content .report-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.report-content .report-body span {
  font-size: 1.5rem;
  font-weight: 700;
}

.report-content .report-body textarea {
  background: #f4f4f4;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  height: 11.06rem;
}

.report-content .report-footer button {
  width: 21.156rem;
  height: 2.5rem;
  border-radius: 0.75rem;
  border: 1px solid #f1f1f1;
}
.report-content .report-footer button.ad-clear {
  background: #f1f1f1;
}

.report-content .report-footer button.ad-send {
  background: #000000;
  color: #ffffff;
}
