<!doctype html>
<html lang="en" class="overflow-hidden">

<head>
  <link rel="stylesheet" href="../styles/docs.scss" />
</head>

<body>
  <div class="editor" contenteditable="true" style="outline: none;">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, suscipit
  quidem enim nisi repellendus iste quod excepturi mollitia facilis deleniti
  neque deserunt aspernatur quaerat unde cum maiores, fugiat rerum saepe?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
  provident eveniet corrupti sed cum voluptate quae, vel exercitationem eius
  reprehenderit ratione id sapiente doloremque nihil iste, nesciunt, esse
  autem
  </div>
  <script src="../scripts/functionality.js"></script>
</body>

</html>